@import url(//db.onlinewebfonts.com/c/019989000d415bd433b4074af1e753a5?family=RockoFLF);

* {
    font-family: Arial, Helvetica, sans-serif;
}

.top-area {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    /* background-image:
    /* linear-gradient(to left, rgba(97, 76, 96, 0.5) 50%, rgba(145, 152, 229, 0.5)), */
    /* url(sushi.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(119, 52, 4, 0.3);
    color: white;
}

.yalp {
    font-family: "RockoFLF";
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    grid-column-start: 2;
    justify-content: flex-start;
    margin-top: 10px;
}

.fa-search {
    background-color: #C42B00;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
}

.info-area {
    grid-column-start: 3;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}

.info-business,
.info-review {
    margin-right: 30px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.bell-icon,
.comment-icon,
.user-icon {
    font-size: 20px;
    margin-right: 30px;
}

.info-business:hover,
.info-review:hover {
    background-color: #f7f7f52b;
}

.bell-icon:hover,
.comment-icon:hover {
    background-color: #f7f7f52b;
}

.dropdown {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
}

.dropdown-list {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.dropdown-option {
    margin-right: 25px;
    font-size: 19px;
}

.fa-angle-down {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 2px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.674);
    padding: 5px;
}

.dropdown-one {
    width: 90px;
    white-space: nowrap;
    margin: 4px;
    margin-right: 12px;
    padding: 2px;
}

.dropdown-two {
    grid-column-start: 2;
    margin-left: 10px;
    width: 100px;
    white-space: nowrap;
    margin: 4px;
    padding: 2px;
}

.dropdown-menu a {
    color: black;
    padding: 2px;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

.dropdown-menu a {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2px;
}


.dropdown-option:hover .dropdown-menu {
    display: grid;
}

.changing-headers {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white
}

.headline {
    font-size: 40px;
    font-weight: bold;
}

.button-under-headline {
    display: flex;
}

.button2 {
    font-size: 18px;
    font-weight: bolder;
    background-color: #C42B00;
    align-items: flex-start;
    border: none;
    color: white;
    padding-left: 0;
    margin-left: 0;
}

.content-under-headline {
    display: flex;
    align-items: flex-end;
    margin-top: 100px;

}

.h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 22px;
}

.review-boxes {
    display: grid;
    grid-template-columns: 0.5fr 600px 600px 0.5fr;
    place-items: center;
}

.review-box {
    border: lightgrey 1px solid;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}

img {
    width: 200px;
    height: auto;
}

.img-box {
    max-width: 210px;
    display: flex;
    margin: auto;
}

.fa-star {
    color: white;
    background-color: #75757557;
    padding: 5px;
    font-size: 20px;
    border-radius: 15%;
}

.first.fa-star:hover {
    background-color: gold;
}

.second.fa-star:hover {
    background-color: rgb(226, 136, 76);

}

.third.fa-star:hover {
    background-color: rgb(251, 112, 19);
}

.fourth.fa-star:hover {
    background-color: rgb(255, 102, 0);
}

.fifth.fa-star:hover {
    background-color: #C42B00
}

.content-box {
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 0px 20px 31px 20px;
}

p.content-box {
    font-size: 15px;
}

.suggestions {
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.suggestions>.text {
    margin-left: 12px;
    color: rgb(36, 132, 164);
    font-weight: bold;
}

.suggestions>.fa-angle-down {
    color: rgba(36, 132, 164, 0.67)
}

.suggestions>.text:hover {
    text-decoration: rgba(36, 132, 164, 0.67) underline;
}

.page-line {
    margin-top: 40px;
    border-bottom: solid 1px lightgray;
}

.second-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sec-menu-item {
    margin: 0 10px 10px 10px;
    font-size: 18px;
    color: gray;
}

.sec-menu-item:hover {
    color: black;
    padding-bottom: 10px;
    border-bottom: #C42B00 solid 3px;
}

.user-recs {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(400px, 1fr)) 1fr;
}

.review-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 110px;
}

.review-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.avatar {
    display: flex;
}

.avatar img {
    height: 50px;
    width: auto;
}

.user-info {
    color: black;
    flex-direction: column;
}

h3,
.user-info>p {
    margin: 0;
    margin-top: 5px;
}

h3 {
    margin-top: 17px;
}

.user-photo {
    display: flex;
    align-items: center;
    margin: 15px;
}

.rec-box {
    border: lightgray solid 1px;
    margin: 15px;
}

.review-icons {
    font-size: 30px;
}

.review-content {
    margin: 15px;
}

.lni {
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 15px;
}

.lni:hover {
    color: #75757580;
}

h4 {
    color: rgb(36, 132, 164);
    font-weight: 700;
    margin-bottom: 15px;
}

.review-text {
    height: 60px;
    margin-top: 10px;
}

.review-content .review-text {
    overflow-y: scroll;
}

.five.fa-star {
    background-color: #C42B00;
}

.two.fa-star {
    background-color: rgb(226, 136, 76);
}

.three.fa-star {
    background-color: rgb(251, 112, 19);
}

.categories-icons {
    display: grid;
    grid-template-columns: 1fr repeat(4, 400px) 1fr;
    padding-bottom: 50px;
    padding-top: 20px;
    place-items: center;
}

.cat-icon:hover {
    box-shadow: 0px 0px 15px lightgrey;
}

.cat-icon {
    border: lightgray solid 1px;
    height: 230px;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-icon .fa-solid {
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin: 10px;
    color: darkgray;
}

.cat-icon .fa-solid:hover {
    color: #C42B00;
}

footer {
    background-color: rgba(225, 225, 225, 0.452);
    display: -ms-inline-grid;
}

.left {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-content: center;
}

h6 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-menu {
    font-size: 15px;
    font-weight: 100;
    line-height: 35px;
    color: rgba(67, 67, 67, 0.671);
}

.main-menu:hover {
    text-decoration: underline;
}

.bottom {
    padding: 20px 10px;
}
